[Unit]
Description=Highly configurable out of memory preventer
After=sysinit.target
Documentation=man:nohang(1) https://github.com/hakavlad/nohang

[Service]
ExecStart=/usr/sbin/nohang --config /etc/nohang/nohang.conf
Slice=nohang.slice
Restart=always
MemoryMax=50M
TasksMax=20
OOMScoreAdjust=-5
Nice=-20
IOSchedulingClass=1
IOSchedulingPriority=0
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
CPUSchedulingResetOnFork=true

[Install]
WantedBy=multi-user.target
