Package: nohang
Version: 0.1
Section: admin
Architecture: all
Maintainer: Alexey Avramov <hakavlad@gmail.com>
Priority: optional
Homepage: https://github.com/hakavlad/nohang
Description: Sophisticated low memory handler
 A highly configurable daemon for Linux which is able to correctly prevent out
 of memory (OOM) and keep system responsiveness in low memory conditions.
